<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
</head>
<body>
        <form method="post" id="forget_password_form">
        {% csrf_token %}
            <div class="container">
                <h1>Reset Password</h1>
                <hr>
                <label for="new_password">
                    <input type="password" id="new_password" name="new_password" placeholder="Password" required/>
                </label>
                <label for="confirm_password">
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Password" required/>
                </label>
                <label for="submit">
                    <input type="submit" id="submit" value="Submit">
                </label>
            </div>
        </form>
    </body>
</html>