{% extends "base.html" %} 
{% block content %}
{% load static %}
<div class="p-4">
  <div class="title-area mb-5">
    <h2>Text Summaries</h2>
  </div>

  <!-- table-start -->
  <table id="newtable5" class="display responsive nowrap myTable" width="100%">
      <thead>
          <tr>
              <th>Sr.No.</th>
              <th>Date</th>
              <th>Name</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>

      </tbody>
  </table>
  <!-- table-end -->
</div>

{% endblock content %}
