<!doctype html>
<html lang="en">
<head>
<title>Story House</title>
<meta charset="UTF-8" />
<meta name="keywords" content="Story House" />
<meta name="description" content="Story House" />
<meta name="author" content="Story House" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<!-- datatable -->
<link rel="stylesheet" href="assets/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="assets/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="assets/css/buttons.dataTables.min.css">
<!-- end -->

<!-- css-files -->
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/login.css" rel="stylesheet" />
</head>
<body>



<div class="login">
    <img src="assets/images/logo.svg">
    <h1>Welcome!</h1>

    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="content-form">
                <p>Verfication</p>
                <p class="small-text">Enter the verfication code we just sent you on your email</p>
                <form>
                  <div class="input-group mb-2 mt-3 mr-sm-2">
                      <span class="input-group-text" id="basic-addon1"><img src="assets/images/key.svg"></span>
                      <input type="text" class="form-control" placeholder="verification code" >
                  </div>
                  <a href="reset.html"><button type="button" class="btn btn-primary new-btn">Reset Password</button></a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>





<!-- Js-files -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>
<!-- Js-end-->
</body>
</html>
